@import "mixin";

// top nav bar
#topBar{
    #main_logo{
        width: 50px;
        margin-top: 12px;
        float: left;
    }
    .navbar-left{
        h2{
            display: inline-block;
            float: none;
            margin-top: 20px;
            padding-left: 10px;
        }
    }
    .navbar-right{
        margin-right: -26px;
    }
    #user{
        color: $body-bg;
        &:hover{
            color: $body-bg;
        }
    }
    
}

//auth
#auth-page{
    .auth-header{
        margin-bottom: 20px;   
    }
    #auth-form{
        margin-top: 20px; 
    }
}