@import "mixin";

// top nav bar
#topBar{
    #main_logo{
        width: 50px;
        margin-top: 8px;
        float: left;
    }
    .navbar-left{
        h2{
            display: inline-block;
            float: none;
            margin-top: 20px;
            padding-left: 10px;
        }
    }
    .navbar-right{
        margin-right: -26px;
    }
    #user{
        color: $body-bg;
        &:hover{
            color: $body-bg;
        }
    }
    
}

//auth
#auth-page{
    .auth-header{
        margin-bottom: 20px;   
    }
    #auth-form{
        margin-top: 20px; 
    }
}


//Gallery Home
.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-weight: bold;
    color: #58595a;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    color: #85878c;
}

.tz-gallery {
    padding: 20px;
}

.tz-gallery .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    transition: 0.15s ease-in-out;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.tz-gallery .thumbnail:hover {
    transform: translateY(-10px) scale(1.02);
}

.tz-gallery img {
    border-radius: 4px 4px 0 0;
}

.tz-gallery .caption{
    padding: 26px 30px;
    text-align: center;
    .description{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;    
    }
}

.tz-gallery .caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.tz-gallery .caption p {
    font-size: 12px;
    color: #7b7d7d;
    margin: 0;
}

//Album Image main page
.tz-gallery .section-box-eleven{
    height: 280px;
    background: radial-gradient(#6e6e6e,#2f2f2f);
    background: -webkit-radial-gradient(#6e6e6e,#2f2f2f);
    background: -moz-radial-gradient(#6e6e6e,#2f2f2f);
    // color: #fff;
    position: relative;
    overflow:hidden;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    &:hover{
        transform: none;
    }
    @include respond-above(sm){
        width: 100%;
    }
}
.section-box-eleven figure {
    position: absolute;
    padding: 10px 15px;
    width: 100%;
    bottom: -25%;
    font-size: 1.35em;
    transition: ease-in-out .5s;
    background: rgba(0, 0, 0, 0.71);
    a{
        // font-weight: bold;
        &:hover{
            text-decoration: none;
        }
    }
}
.section-box-eleven:hover figure {
    bottom: 0;
}
.section-box-eleven img{
    height: 100%;
}

//Edit image nav
#editNav{
    ul.navbar-nav li a{
        padding-left: 5px; 
        padding-right: 5px; 
    }
    ul.navbar-nav li a i { 
        position: relative; 
        font-size: 32px;
    }
    ul.navbar-nav li a i span {
        position: absolute; 
        top: -2px;
        right: -30px;
        width: auto; 
        margin-top: 0; 
        padding: 3px 5px;
        background: #ca8bdc; 
        font-size: 12px; 
        font-weight: 300;
        border-radius: 4px;
    }
    ul.navbar-nav li a span {
        display: inline-block; 
        width: 100%; 
        margin-top: 8px; 
        -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
    }

    #imgEditButton{
        margin-top: 30px;
    }
}

//create new album
.create-new{
    .col-md-7{
        margin-bottom: 10px;
    }
}
